gsrms/src/main/resources/xsd/satellite-request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Ground Station Resource Management System (GSRMS)
    Satellite Request XML Schema Definition

    NOTE: This XSD is used for documentation and runtime schema validation only.
          Java binding classes are hand-written in com.gsrms.model.xml
          (Java 21 + jaxb2-maven-plugin 3.1.0 are incompatible).

    @author Jeff
    @since 2026-03-06
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://gsrms.com/xml/request"
           xmlns:tns="http://gsrms.com/xml/request"
           elementFormDefault="qualified">

    <xs:element name="SatelliteRequests" type="tns:SatelliteRequestsType"/>

    <xs:complexType name="SatelliteRequestsType">
        <xs:sequence>
            <xs:element name="Header"   type="tns:HeaderType"/>
            <xs:element name="Requests" type="tns:RequestListType"/>
        </xs:sequence>
        <xs:attribute name="version" type="xs:string" default="1.0"/>
    </xs:complexType>

    <xs:complexType name="HeaderType">
        <xs:sequence>
            <xs:element name="RequestId"           type="xs:string"/>
            <xs:element name="GeneratedAt"          type="xs:dateTime"/>
            <xs:element name="SourceSystem"         type="xs:string"   minOccurs="0"/>
            <xs:element name="SchedulePeriodStart"  type="xs:dateTime"/>
            <xs:element name="SchedulePeriodEnd"    type="xs:dateTime"/>
            <xs:element name="Description"          type="xs:string"   minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="RequestListType">
        <xs:sequence>
            <xs:element name="PassRequest" type="tns:PassRequestType"
                        minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="count" type="xs:int"/>
    </xs:complexType>

    <xs:complexType name="PassRequestType">
        <xs:sequence>
            <xs:element name="SatelliteName"     type="xs:string"/>
            <xs:element name="GroundStationName"  type="xs:string"/>
            <xs:element name="FrequencyBand"     type="tns:FrequencyBandType"/>
            <xs:element name="AOS"               type="xs:dateTime"/>
            <xs:element name="LOS"               type="xs:dateTime"/>
            <xs:element name="MaxElevation"      type="xs:decimal" minOccurs="0"/>
            <xs:element name="Priority"          type="xs:int"     minOccurs="0" default="5"/>
            <xs:element name="IsEmergency"       type="xs:boolean" minOccurs="0" default="false"/>
            <xs:element name="Notes"             type="xs:string"  minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required"/>
    </xs:complexType>

    <xs:simpleType name="FrequencyBandType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="X"/>
            <xs:enumeration value="S"/>
            <xs:enumeration value="XS"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>
